

.cbp-mc-form {
	position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; display: table; 
}

.cbp-mc-form:after { 
	clear: both; 
}

.cbp-mc-column {
	width: 33%;
	padding: 10px 30px;
	float: left;
}

.cbp-mc-column-left-right {
	width: 30%;
	padding: 10px 30px;
	float: left;
}

.cbp-mc-column-center {
	width: 100%;
	padding: 10px 30px;
	float: left;
}

.cbp-mc-column_login {
	width: 100%;
	padding: 10px 30px;
	float: left;
}

.cbp-mc-form label {
	display: block;
	padding: 20px 5px 5px 2px;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	color: black;
}

.cbp-mc-form label:hover {
	color: gray;
}

.cbp-mc-form input[type="submit"],
.cbp-mc-form input[type="button"],
.cbp-mc-form input[type="text"],
.cbp-mc-form input[type="password"],
.cbp-mc-form textarea,
.cbp-mc-form select {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 1.3;
	font-size: 1em;
	padding: 5px 10px;
	color: #000;
	display: block;
	width: 100%;
	background: transparent;
}

.cbp-mc-form input[type="radio"],
.cbp-mc-form input[type="checkbox"] {
	color: #000;
	background: transparent;
        vertical-align: middle;
	line-height: 1.3;
	font-size: 1em;
	padding: 5px 10px;
}

.cbp-mc-form input,
.cbp-mc-form select,
.cbp-mc-form textarea {
	border: 1px solid gray;
}

.cbp-mc-form textarea {
	min-height: 100px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
	outline: none;
	border: 1px solid #10689a;
}

.cbp-mc-form select:focus {
	outline: none;
	font-size: 0.8em;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: gray;
    font-style: italic;
	font-size: 0.8em;
	opacity: 0.5;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: gray;
    font-style: italic;
	font-size: 0.8em;
	opacity: 0.5;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: gray;
    font-style: italic;
	font-size: 0.8em;
	opacity: 0.5;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: gray;
    font-style: italic;
	font-size: 0.8em;
	opacity: 0.5;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 20px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
	background: #ed2224;
	border: none;
	color: #fff;
	width: 100%;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1em;
	border-radius: 2px;
	letter-spacing: 1px;
}

.cbp-mc-form input.cbp-mc-submit2 {
	background: black;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 40px;
	font-size: 1em;
	border-radius: 2px;
	letter-spacing: 1px;
}

.cbp-mc-form input.cbp-mc-submit3 {
	background: black;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 40px;
	font-size: 1em;
	border-radius: 2px;
	letter-spacing: 1px;
}

.cbp-mc-form input.cbp-mc-submit:hover {
	background: #ed2224;
}

@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 50%;
	}

	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (min-width: 70em) {
	.cbp-mc-column_login {
		width: 30%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
}

