
@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/_SiteMainLayout.cshtml";
}

<div>

    <div class="grid">
        <div class="row cells4">
            <div class="cell">
                <div class="accordion" data-role="accordion" data-close-any="true">
                    <div class="frame">
                        <div class="heading">Frame heading</div>
                        <div class="content">Frame content</div>
                    </div>
                    <div class="frame">
                        <div class="heading">Frame heading</div>
                        <div class="content">Frame content</div>
                    </div>
                </div>
            </div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
    </div>

</div>

